@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Red Hat Display", serif;


}

body {
    font-family: "Red Hat Display", serif;


  background-color: #f2f4f6;
}
/* h1,h2,h3,h4,h5,h6{
    font-family: "Big Shoulders Text", serif;
   
} */
/* Dropdown Menu */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 250px;
  z-index: 701;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #cd182f;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Forms */
.forms {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.forms input,
.forms select,
.forms textarea {
  width: 100%;
  border: 1.5px solid #ddd;
  padding-left: 3%;
}

.forms input,
.forms select {
  height: 45px;
}

.forms textarea {
  height: 300px;
  padding-top: 20px;
}

.forms input:focus,
.forms select:focus,
.forms textarea:focus {
  outline: none;
}

.forms button {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #cd1827;
  color: #fff;
}

/* Logo and Sidebar */
.logo_name {
  padding-block: 25px;
  text-align: center;
  margin-top: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo_name span {
  color: #cd1827;
}

.logout {
  border: 2px solid #cd1827;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #cd1827;
  color: #fff;
  position: absolute;
  bottom: 30px;
}

.sidebar {
  height: 100vh;
  background-color: #fff;
  width: 280px;
  padding: 0 30px;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 1px 3px;
  z-index: 500;
}

.sidebar.hidden {
  transform: translateX(0);
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  overflow-y: auto;
  height: 50vh;
  scrollbar-width: thin;
  scrollbar-color: #336aea #ecf0f1;
}

.links a {
  padding-block: 10px;
  color: #000;
}

.links a.active {
color: #cc1827;

}

.links::-webkit-scrollbar {
  width: 8px;
}

.links::-webkit-scrollbar-track {
  background: #ecf0f1;
  border-radius: 10px;
}

.links::-webkit-scrollbar-thumb {
  background-color: #cd1827;
  border-radius: 10px;
  border: 2px solid #ecf0f1;
}

.links::-webkit-scrollbar-thumb:hover {
  background-color: #cc1827;
}

/* Toggle Button */
.toggle_btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: #cc1827;
  color: #ecf0f1;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.7s ease-in-out;
  z-index: 600;
}

.toggle_btn.collapsed {
  left: 252px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #cd1827;
  color: white;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navbar */
.navbar_all {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  position: sticky;
  top: 0;
  z-index: 5000;
  width: 100%;
}

.logo {
  height: 100px;
  width: 170px;
  background-image: url(../images/logo_white.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav_links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav_links a {
  color: #000;
}

#mobile-button {
  display: none;
}
.dashed {
    border-top: 2px dashed #cc1827;
  }
  
.mobile_links {
  display: none;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.mobile_links.active {
  display: flex;
}

.nav_all {
  position: sticky;
  top: 0;
  z-index: 900;
  width: 100%;
}

/* WhatsApp Link */
.whatsapp_link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 900;
  display: flex;
  align-items: center;
}

.whatsapp_link p {
  background-color: #fff;
  padding: 3px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
}

.fa-whatsapp {
  color: #fff;
  background-color: green;
  font-size: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.whatsapp_link a {
  display: flex;
  justify-content: center;
}
.mobile_links{
    top: 0;
    position: absolute;
}
.mobile_links a{
    display: flex;
    flex-direction: column;
}

.footer_all {
    padding: 0 3%;
    margin-top: 50px;
  
    background-color: #cd1827;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-block: 50px;
    color: #fff;
  }
  
  .social_media {
    display: flex;
  
    gap: 15px;
  }
  .social_media a {
    color: #fff;
    font-size: 30px;
  }
  .ft_tag {
    display: flex;
    flex-direction: column;
  }
  .ft_tag a {
    padding-top: 20px;
    color: #fff;
  }
  .ft_links h1{
    font-family: "Big Shoulders Text", serif;
    text-transform: uppercase;
  }
  .ft_tag a:hover {
    font-weight: 600;
  }
  
  .quick_links h4 {
    text-align: center;
    
  }

  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
  padding: 20px;
  /* border-radius: 50%; */
  border-radius: 10px;
  background-color: #e61d31;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
  padding: 20px;
  /* border-radius: 50%; */
  border-radius: 10px;
  background-color: #e61d31;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 23px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 10px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 10%);
  background: var(--swiper-pagination-bullet-inactive-color, #6e3fb1);
  border: 2px solid;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 15px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: 900;
}

.arrows {
  width: 120px;
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 14543;
}


.swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 23px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 10px)
    );
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 10%);
    background: #cc1827;
    border: none;
    border-radius: 30px;
  }
  
  .paginations {
    position: absolute;
    bottom: -20;
    width: 100%;
    border: 2px solid;
  }
  


  .contact_us_all{
    padding: 0 8%;
    margin-top: 50px;
}
.contact_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.ct_box{
    padding: 0 5%;
    padding-block: 30px;
    text-align: center;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ct_box a{
    color: #000;
}

.ct_box h1{
    color: #cc1827;
    font-size: 40px;
    padding-block: 15px;
}

.ct_box h3{
    font-family: "Big Shoulders Text", serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #cc1827;
}

.contact_title h1{
    margin-top: 30px;
    font-family: "Big Shoulders Text", serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #cc1827;
}


.blog-container{
  padding: 0 15%;
  margin-top: 50px;
}



.copyright{
  padding-block: 15px;
  text-align: center;
}

.copyright a{
  color: #000;
}


/* Media Queries */
@media only screen and (max-width: 1110px) {
    .footer_all {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
}

@media only screen and (max-width: 1010px) {
  #mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }

  .nav_links {
    display: none;
  }

  .mobile_links {
    position: fixed;
    top: 151px;
    width: 90%;
    right: 0;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 15px 3%;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out;
    z-index: 999;
  }

  .mobile_links.active {
    transform: translateX(0);
    width: 100%;
   
  }

 

  .mobile_links a {
    padding-top: 15px;
    color: #000;
  
  }

  .dropdown{
    display: flex;
  }
  .footer_all {
    display: flex;
    flex-direction: column;
  }
}