.signup_all{
    padding: 0 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup_box{
    width: 100%;
    padding: 0 5%;
    padding-block: 50px;
    background-color: #fff;
}

.signup_box .logo{
    margin: 0 auto;
}

@media only screen and (max-width: 1110px) {
    .signup_all{
        padding: 0 5%;
        margin-block: 50px;
    }
}