.where_to_buy_all{
    padding: 0 15%;
}
.where_box_grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    margin-top: 50px;
}
.shop_location {
    text-align: left;
    margin-right: auto;
}
.shop_location img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.shop_details{
   padding: 0 10%;
   padding-block: 50px;
  
}
.shop_details p{
    margin-top: 15px;
}

@media only screen and (max-width: 1110px) {
.where_box_grid {
    display: grid;
    grid-template-columns: 1fr;
}
}